{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<!-- ======= Main Content ======= -->
<nav class="container navbar navbar">
    <div class="container-fluid border rounded p-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-center" style="width: 100%;">
            <h3>Dashboard</h3>
        </div>
        <div class="offcanvas offcanvas-start mt-5" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header mt-5">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Miepan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kelolaMenu">Kelola Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kelolaPesanan">Kelola Pesanan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kelolaAdmin">Kelola Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kelolaRekening">Kelola Rekening</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container text-center mt-3 mb-5">
    <div class="row" style="width: 100%;">
        <div class="col d-flex justify-content-center text-start">
            <div class="card mb-3" style="width: 12rem;" id="card-info">
                <div class="card-header">Total Penjualan</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_sales }}</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center text-start">
            <div class="card mb-3" style="width: 12rem;" id="card-info">
                <div class="card-header">Total Menu</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_menus }}</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center text-start">
            <div class="card mb-3" style="width: 12rem;" id="card-info">
                <div class="card-header">Total Admin</div>
                <div class="card-body">
                    <h5 class="card-title">{{ count_per_role['admin'] }}</h5>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center text-start">
            <div class="card mb-3" style="width: 12rem;" id="card-info">
                <div class="card-header">Total Pengguna</div>
                <div class="card-body">
                    <h5 class="card-title">{{ count_per_role['pelanggan'] }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <h4 class="text-center">Grafik Penjualan</h4>
        <div class="text-center mb-3">
            <button class="btn btn-primary" onclick="updateChart('weekly')">Mingguan</button>
            <button class="btn btn-primary" onclick="updateChart('monthly')">Bulanan</button>
            <button class="btn btn-primary" onclick="updateChart('yearly')">Tahunan</button>
        </div>
        <canvas id="salesChart"></canvas>
    </div>
</div>

{% endblock %}