{% extends 'base.html' %} {% block title %} Dashboard {% endblock %} {% block
content %}

<!-- ======= Main Content ======= -->
<div class="container text-center mt-5 mb-5">
  <div class="container text-center">
    <h1>Detail Menu</h1>
    <br />
  </div>
  <div class="d-flex flex-wrap flex-row gap-5 justify-content-center">
    <div
      class="d-flex text-center flex-wrap align-items-center justify-content-start flex-column border"
    >
      <div class="card card_detail mt-5">
        <h2 class="card-title">{{menu['namamenu']}}</h2>
        <div class="d-flex justify-content-center">
          <img
            src="../{{menu['fotomenu']}}"
            class="card-img-top"
            alt="menu"
            style="width: 60%"
          />
        </div>
        <div class="card-body">
          <div class="container text-start">
            <div class="row">
              <div class="col">
                <i class="card-text">{{menu['deskripsimenu']}}</i>
                <p>Rp. {{menu['hargamenu']}},-</p>
                <p class="rating">
                  ⭐ {% if menu.average_rating %} {{ menu.average_rating }} {%
                  else %} Belum ada rating {% endif %}
                </p>
              </div>
            </div>
            <div class="quantity buttons_added mb-5">
              <input type="button" value="-" class="minus" /><input
                type="number"
                step="1"
                min="1"
                max=""
                name="quantity"
                value="1"
                title="Qty"
                class="input-text qty text"
                size="4"
                pattern=""
                inputmode=""
              /><input type="button" value="+" class="plus" />
            </div>
            <div class="col text-start d-flex justify-content-center gap-2">
              <form action="/keranjang/{{ menu['_id'] }}" method="post">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="width: 10rem"
                >
                  <i class="material-symbols-outlined"> add_shopping_cart </i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap align-items-center flex-column gap-2">
      <h4>Menu Lainnya</h4>
      {% if different_category_menu %}
      <div class="card" style="width: 18rem">
        <img
          src="../{{ different_category_menu['fotomenu'] }}"
          class="card-img-top"
          alt="menu"
        />
        <div class="card-body">
          <div class="container text-start">
            <div class="row">
              <div class="col">
                <h5 class="card-title">
                  {{ different_category_menu['namamenu'] }}
                </h5>
                <i class="card-text"
                  >{{ different_category_menu['deskripsimenu'] }}</i
                >
                <p>Rp. {{ different_category_menu['hargamenu'] }},-</p>
                <p class="rating">
                  ⭐ {% if different_category_menu.average_rating %} {{
                  different_category_menu.average_rating }} {% else %} Belum ada
                  rating {% endif %}
                </p>
              </div>
            </div>
            <div class="col text-start d-flex justify-content-evenly">
              <form
                action="/keranjang/{{ different_category_menu['_id'] }}"
                method="post"
              >
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="width: 10rem"
                >
                  <i class="material-symbols-outlined"> add_shopping_cart </i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <a href="/menu" class="btn btn-primary">Lihat Menu Lainnya</a>
      {% else %}
      <p>Tidak ada menu lain yang tersedia dari kategori yang berbeda.</p>
      {% endif %}
    </div>
  </div>
</div>
<div
  class="text-start d-flex flex-wrap flex-column grid gap-2 justify-content-between align-items-center"
>
  <div class="container text-center mt-3 mb-5">
    <div class="container text-center">
      <h3>Kata Pelanggan</h3>
      <br />
    </div>
    <div
      class="text-start mt-2 mb-2 d-flex flex-wrap flex-row grid gap-3 justify-content-between"
    >
      {% for review in reviews %}
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../{{ review['user_foto'] }}"
              class="img-fluid rounded-start"
              alt="{{ review['user_name'] }}"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ review['user_name'] }}</h5>
              <i class="card-text">{{ review['comment'] }}</i>
              <p class="card-text"><small>⭐{{ review['rating'] }}</small></p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >{{ review.timestamp.strftime("%d %b %Y") }}</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- ======= End of Main Content ======= -->

{% endblock %}
