{% if user_role == 'admin' %} {% extends 'sidenav.html' %} {% endif %} {% if
  user_role == 'pelanggan' %} {% extends 'base.html' %} {% endif %} {% block title
  %} Detail Pesanan {% endblock %} {% block content %}
  
  <div class="container">
    <h2 class="mb-3">Detail Pesanan</h2>
    <div class="card">
      <div class="card-header">
        <h4>No Pesanan: {{ order.order_number }}</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p><strong>Nama Pemesan:</strong> {{ order.user_name }}</p>
            <p><strong>Total Harga:</strong> {{ order.total_amount|rupiah  }}</p>
            <p><strong>Metode Pembayaran:</strong> {{ order.payment_method }}</p>
            <p><strong>Status:</strong> {{ order.status }}</p>
            <p><strong>Tanggal Pesanan:</strong> {{ order.order_date }}</p>
            <p><strong>Daftar Item:</strong></p>
            <ul>
              {% for item in items %}
              <li>
                {{ item.namamenu }} - {{ item.quantity }} pcs - {{
                item.hargamenu|rupiah }}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col text-center">
            {% if order.bukti %}
            <p><strong>Bukti Transfer:</strong></p>
            <a href="../{{ order.bukti }}" target="_blank">
              <img
                src="../{{ order.bukti }}"
                class="img-fluid"
                alt="Bukti Transfer"
                style="max-width: 100px"
              />
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-footer d-flex flex-wrap justify-content-end">
        {% if user_role == 'pelanggan' %}
        <a href="{{ url_for('pesanan') }}" class="btn btn-outline-primary me-2"
          >Kembali</a
        >
        {% endif %} {% if user_role == 'admin' %}
        <a
          href="{{ url_for('kelolaPesanan') }}"
          class="btn btn-outline-primary me-2"
          >Kembali</a
        >
        <a
          href="{{ url_for('kelolaPesanan') }}"
          class="btn btn-outline-secondary me-2"
          >Tolak</a
        >
        <a
          href="{{ url_for('prosesPesanan', order_id=order._id) }}"
          class="btn btn-primary"
          >Proses</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}
  