{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content%}

<!-- ======= Main Content ======= -->
<div class="main-content">
    <div class="container text-center mt-2 mb-2">
        <div class="row">
            <div class="col d-flex flex-wrap justify-content-center align-items-center flex-column">
                <h1>Selamat Datang Di Miepan</h1>
                <h4><i>Spesial Mie Bangladesh</i></h4>
                <br>
                <h3>Mau makan apa hari ini?</h3>
                <div class="search-box d-flex justify-content-center">
                    <input id="input-word" class="form-control" style="margin-right: 0.5rem"
                        placeholder="cari disini" />
                    <button class="btn btn-primary" onclick="find_word()">Cari</button>
                </div>
            </div>
            <div class="col">
                <img src="../static/assets/img/img-content1.png" alt="" id="img-content">
            </div>
        </div>
    </div>
</div>

<section class="pattern">
    <div class="geeks">
        <div class="text-center mt-2 mb-2 d-flex flex-wrap flex-row grid gap-3 justify-content-between">
            <div id="card-info" class="card mb-3 d-flex align-items-center justify-content-center"
                style="max-width: 540px; width:250px; height: 100px;">
                <h3 class="card-title">Selasa - Minggu</h3>
                <h5 class="card-text">15.30-23.30</h5>
            </div>
            <div id="card-info" class="card mb-3 d-flex align-items-center justify-content-center"
                style="max-width: 540px; width:250px; height: 100px;">
                <h3 class="card-title">Harga Mulai Dari</h3>
                <h5 class="card-text">Rp. 7.000,-</h5>
            </div>
            <div id="card-info" class="card mb-3 d-flex align-items-center justify-content-center"
                style="max-width: 540px; width:250px; height: 100px;">
                <h3 class="card-title">Lokasi</h3>
                <h5 class="card-text">Balai Rakyat Perumnas 1, Bekasi Selatan</h5>
            </div>

        </div>
    </div>
    </div>
</section>

<div class="container text-center mt-3 mb-5">
    <div class="container text-center">
        <h3>Menu Favorit</h3>
        <br>
    </div>
    <div class="text-start mt-2 mb-2 d-flex flex-wrap flex-row grid gap-3" id="container-card">
        <div class="card" style="width: 16rem;">
            <a href="/detail_menu">
                <img src="../static/assets/img/k.jpg" class="card-img-top" alt="menu">
                <div class="card-body">
                    <div class="container text-start">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Mie Bangladesh</h5>
                                <i class="card-text">Mie nyemek basah</i>
                                <p>Rp. 17.000,-</p>
                                <p class="rating">
                                    ⭐7.4
                                </p>
                            </div>

                        </div>
                        <div class="col text-start d-flex justify-content-evenly">
                            <a href="#" class="btn btn-outline-primary material-symbols-outlined">
                                add_shopping_cart
                            </a>
                            <a href="#" class="btn btn-primary">Beli Sekarang</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card" style="width: 16rem;">
            <a href="/detail_menu">
                <img src="../static/assets/img/k.jpg" class="card-img-top" alt="menu">
                <div class="card-body">
                    <div class="container text-start">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Mie Bangladesh</h5>
                                <i class="card-text">Mie nyemek basah</i>
                                <p>Rp. 17.000,-</p>
                                <p class="rating">
                                    ⭐7.4
                                </p>
                            </div>

                        </div>
                        <div class="col text-start d-flex justify-content-evenly">
                            <a href="#" class="btn btn-outline-primary material-symbols-outlined">
                                add_shopping_cart
                            </a>
                            <a href="#" class="btn btn-primary">Beli Sekarang</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card" style="width: 16rem;">
            <a href="/detail_menu">
                <img src="../static/assets/img/k.jpg" class="card-img-top" alt="menu">
                <div class="card-body">
                    <div class="container text-start">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Mie Bangladesh</h5>
                                <i class="card-text">Mie nyemek basah</i>
                                <p>Rp. 17.000,-</p>
                                <p class="rating">
                                    ⭐7.4
                                </p>
                            </div>

                        </div>
                        <div class="col text-start d-flex justify-content-evenly">
                            <a href="#" class="btn btn-outline-primary material-symbols-outlined">
                                add_shopping_cart
                            </a>
                            <a href="#" class="btn btn-primary">Beli Sekarang</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container text-center mt-5">
        <a href="#" class="btn btn-primary">Lihat Menu Lainnya</a>
    </div>
</div>
<div class="container text-center mt-3 mb-5">
    <div class="container text-center">
        <h3>Kata Pelanggan</h3>
        <br>
    </div>
    <div class="text-start mt-2 mb-2 d-flex flex-wrap flex-row grid gap-3" id="container-card">
        <div class="card mb-3" style="max-width: 16rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/profile_pic/testimonials-2.jpg" class="img-fluid rounded-start" alt="name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Fujika Hiro</h5>
                        <i class="card-text">Makanannya enak, terus cepet juga pelayananya, pokoknya best deh</i>
                        <p class="card-text"><small>⭐3.0</small> </p>
                        <p class="card-text"><small class="text-body-secondary">3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 16rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/profile_pic/testimonials-2.jpg" class="img-fluid rounded-start" alt="name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Fujika Hiro</h5>
                        <i class="card-text">Makanannya enak, terus cepet juga pelayananya, pokoknya best deh</i>
                        <p class="card-text"><small>⭐3.0</small> </p>
                        <p class="card-text"><small class="text-body-secondary">3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 16rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/profile_pic/testimonials-2.jpg" class="img-fluid rounded-start" alt="name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Fujika Hiro</h5>
                        <i class="card-text">Makanannya enak, terus cepet juga pelayananya, pokoknya best deh</i>
                        <p class="card-text"><small>⭐3.0</small> </p>
                        <p class="card-text"><small class="text-body-secondary">3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center mt-3 mb-5">
    <div class="container text-center">
        <h3>Info</h3>
        <br>
    </div>
    <div class="text-start mt-2 mb-2 d-flex flex-wrap flex-row grid gap-3" id="container-card">
        <div class="card h-100" style="width: 16rem;">
            <img src="../static/assets/img/album1.jpg" class="card-img-top" alt="menu">
            <div class="card-body">
                <div class="container text-start">
                    <div class="row">
                        <div class="col">
                            <p class="card-title">Kami buka setiap hari kecuali hari senin yaa, buka dari pukul 17.00 -
                                22.30 😊</p>
                            <i class="card-text">21-10-2023</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card h-100" style="width: 16rem;">
            <video src="../static/assets/video/Uncle @jordionsu sekali coba langsung ketagihan yaa.mp4"
                class=" object-fit-contain" controls></video>
            <div class="card-body">
                <div class="container text-start">
                    <div class="row">
                        <div class="col">
                            <p class="card-title">Kami buka setiap hari kecuali hari senin yaa, buka dari pukul 17.00 -
                                22.30 😊</p>
                            <i class="card-text">21-10-2023</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card h-100" style="width: 16rem;">
            <img src="../static/assets/img/album1.jpg" class="card-img-top" alt="menu">
            <div class="card-body">
                <div class="container text-start">
                    <div class="row">
                        <div class="col">
                            <p class="card-title">Kami buka setiap hari kecuali hari senin yaa, buka dari pukul 17.00 -
                                22.30 😊</p>
                            <i class="card-text">21-10-2023</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= End of Main Content ======= -->

{% endblock %}