{% extends 'base.html' %}

{% block title %}
Beranda
{% endblock %}

{% block content%}

<!-- Main Content -->
<div class="main-content">
    <div class="container text-center mt-2 mb-2">
        <div class="row">
            <div class="col d-flex flex-wrap justify-content-center align-items-center flex-column">
                <h1>Selamat Datang Di Miepan</h1>
                <h4><i>Spesial Mie Bangladesh</i></h4>
                <br>
                <h3>Mau makan apa hari ini?</h3>
                <div class="search-box d-flex justify-content-center">
                    <input id="input-word" class="form-control" style="margin-right: 0.5rem"
                        placeholder="cari disini" />
                    <button class="btn btn-primary" onclick="find_menuhome()">Cari</button>
                </div>
            </div>
            <div class="col">
                <img src="../static/assets/img/img-content1.png" alt="" id="img-content">
            </div>
        </div>
    </div>
</div>

<section class="pattern" id="pat-index">
    <div class="geeks">
        <div class="container">
            <div class="text-center mt-2 mb-2 d-flex flex-wrap flex-row grid gap-3" id="container-card">
                <div id="card-info" class="card mb-3 d-flex align-items-center justify-content-center"
                    style="max-width: 540px; width:250px; height: 100px;">
                    <h3 class="card-title">Selasa - Minggu</h3>
                    <h5 class="card-text">15.30-23.30</h5>
                </div>
                <div id="card-info" class="card mb-3 d-flex align-items-center justify-content-center"
                    style="max-width: 540px; width:250px; height: 100px;">
                    <h3 class="card-title">Harga Mulai Dari</h3>
                    <h5 class="card-text">Rp. 7.000,-</h5>
                </div>
                <div id="card-info" class="card mb-3 d-flex align-items-center justify-content-center"
                    style="max-width: 540px; width:250px; height: 100px;">
                    <h3 class="card-title">Lokasi</h3>
                    <h5 class="card-text">Balai Rakyat Perumnas 1, Bekasi Selatan</h5>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<div class="container text-center mt-3 mb-5">
    <div class="container text-center">
        <h3>Menu Favorit</h3>
        <br>
    </div>
    <div class="text-start mt-2 mb-2 d-flex flex-wrap flex-row grid gap-3" id="container-card">
        {% for menu in menus %}
        <div class="col p-0 menu-card" style="max-width: 14rem;">
            <a href="/detail_menu/{{ menu['_id'] }}" class="p-0">
                <div class="card h-100 menu-card">
                    <div class="d-flex align-items-center justify-content-center p-2" style="width: 100%;">
                        <img src="{{menu['fotomenu']}}" class="card-img-top" alt="menu" style="width: 50%">
                    </div>
                    <div class="card-body p-0">
                        <div class="container text-start">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">{{menu['namamenu']}}</h5>
                                    <p>{{menu['hargamenu']|rupiah}}</p>
                                    <p class="rating">
                                        ⭐ {% if menu['average_rating'] %} {{ menu['average_rating']}} {% else %} Belum
                                        ada rating {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col text-start d-flex justify-content-evenly mb-3">
                                <form action="/keranjang/{{ menu['_id'] }}" method="post">
                                    <button type="submit" class="btn btn-primary" style="width: 10rem;">
                                        <i class="material-symbols-outlined"> add_shopping_cart </i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="container text-center mt-5">
        <a href="/menu" class="btn btn-primary">Lihat Menu Lainnya</a>
    </div>
</div>

<!-- Reviews Section -->
<div class="container text-center mt-3 mb-5">
    <div class="container text-center">
        <h3>Kata Pelanggan</h3>
        <br>
    </div>
    <div class="text-start mt-2 mb-2 d-flex flex-wrap flex-row grid gap-3" id="container-card">
        {% for review in reviews %}
        <div class="card mb-3" style="max-width: 16rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ review.user_foto}}" class="img-fluid rounded-start" alt="{{ review.user_name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.user_name}}</h5>
                        <i class="card-text">{{ review.comment }}</i>
                        <p class="card-text"><small>⭐{{ review.rating }}</small> </p>
                        <p class="card-text"><small class="text-body-secondary">{{ review.timestamp.strftime("%d %b %Y")
                                }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container text-center mt-3 mb-5">
    <div class="container text-center">
        <h3>Media</h3>
        <br>
    </div>
    <div class="text-start mt-2 mb-2 d-flex flex-wrap flex-row grid gap-3" id="container-card">
        <div class="card h-100" style="width: 16rem;">
            <img src="../static/assets/img/album1.jpg" class="card-img-top" alt="menu">
        </div>
        <div class="card h-100" style="width: 16rem;">
            <video src="../static/assets/video/Uncle @jordionsu sekali coba langsung ketagihan yaa.mp4"
                class=" object-fit-contain" controls></video>

        </div>
        <div class="card h-100" style="width: 16rem;">
            <img src="../static/assets/img/album1.jpg" class="card-img-top" alt="menu">
        </div>
    </div>
</div>
<!-- End of Main Content -->

{% endblock %}