{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content%}

<!-- ======= Main Content ======= -->
<div class="main-content">
    <div class="container text-center mt-2 mb-2">
        <h1>Tentang Miepan</h1>
        <div class="row mt-5">
            <div class="col text-start">
                <h1>Miepan</h1>
                <h2 style="font-style: italic;">Spesial Mie Bangladesh</h2>
                <p>
                    <i>Miepan</i> adalah suatu usaha yang menjual makanan special mie Bangladesh, yang melakukan
                    penyediaan dan
                    perdagangan berbagai jenis makanan. Dibuat dengan menggunakan bahan-bahan yang berkualitas tinggi
                    dan memiliki menu yang bervariasi. Untuk memenuhi harapan pelanggan, maka Miepan merancang semua
                    produk yang dijual dengan sangat memperhatikan kebutuhan konsumen.
                </p>
                <p>Miepan menggunakan website ini juga sebagai salah satu media promosi agar lebih memudahkan pelanggan
                    mencari informasi mengenai usaha tersebut. Tujuan nya melihat begitu besar potensi yang dimiliki
                    melalui promosi di website ini, penulis berkeinginan mengembangkan usaha miepan agar lebih terkenal
                    di masyarakat.</p>
            </div>
            <div class="col d-flex flex-wrap align-items-center justify-content-center">
                <img src="../static/assets/img/logo-miepan.png" alt="" id="img-content">
            </div>
        </div>
    </div>
</div>
<!-- ======= End of Main Content ======= -->

{% endblock %}